/** font-family: 'Space Mono', monospace;*/

header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    background: linear-gradient(267deg, #EAA419 30%, rgba(191, 139, 69, 0.93) 53%, #827878 71%);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-left: 30%;
}

.div_header {
    background-image: url(../../public/fondo2.jpg);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: top;
    margin-left: 55px;
}

.div_header ul {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: top;
}

.div_header ul li {
    flex-grow: 1;
}

.div_header ul li i {
    display: flex;
    margin: 20px;
    margin-top: 10px;
    font-size: xx-large;
    text-decoration-line: none;
}

.div_header ul li a {
    text-decoration-line: none;
}