.historia{
    display: flex;
    flex-direction: row;
    background: radial-gradient( #fff 27%, #CAC1C1 56%, #B1AEAE 77%);
    height: 500px;
}
.historia div{
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 50px;
}
.historia div p{
    text-align: justify;
}

.nosotros_contenedor{
    display: flex;
    flex-direction: row;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
}
.fumigacion{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    
    
}
.fumigacion h2{
    opacity: 0%;
}
.fumigacion p{
    opacity: 0%;
}

.riego{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.riego h2{
    opacity: 0%;
}
.riego p{
    opacity: 0%;
}
.seleccion{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.seleccion h2{
    opacity: 0%;
}
.seleccion p{
    opacity: 0%;
}
.fumigacion img{
    display: flex;  
    transition: all 0.3s ease;
}
.fumigacion div{
    position:absolute;
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
    transition: all 0.3s ease;
}
.riego img{
    display: flex;
    transition: all 0.3s ease;    
}
.riego div{
    position:absolute;
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
    transition: all 0.3s ease;
}
.seleccion img{
    display: flex;
    transition: all 0.3s ease;    
}
.seleccion div{
    position:absolute;
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
    transition: all 0.3s ease;
}
.fumigacion img:hover{
    opacity: 30%;
    transition: all 0.3s ease;
}
.fumigacion:hover div{
    color: black;
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.fumigacion:hover h2{
    opacity: 100%;
}
.fumigacion:hover p{
    opacity: 100%;
}
.riego img:hover{
    opacity: 30%;
    transition: all 0.3s ease;
}
.riego:hover div{
    color: black;
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.riego:hover h2{
    opacity: 100%;
}
.riego:hover p{
    opacity: 100%;
}

.seleccion img:hover{
    opacity: 30%;
    transition: all 0.3s ease;
}
.seleccion:hover div{
    color: black;
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.seleccion:hover h2{
    opacity: 100%;
}
.seleccion:hover p{
    opacity: 100%;
}

.nosotros_video{
    display: flex;
    align-items: center;
    width: 90%;
    height: 500px;
    padding-left: 10%;
    background-color: #EAA419;
}
.nosotros_video p{
    padding-left: 20px;
    padding-right: 15px;
    text-align: justify;
}