.productos_intro{
    background: linear-gradient(90deg, #36791D 13%, #6D9E0F 47%, #77B310 75%, #fff 98%);
    display: flex;
    flex-direction: row;
    padding: 50px;
    border-top: 3px solid black;

}
.productos_intro div{
    padding-left: 200;
    align-items: center;
}
.productos_list{
    
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500;
    border: 2px solid black;
    
}
.productos_list div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.productos_list div div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50;
    padding-top: 5%;
    align-items: center;
    
   
}

.productos_list div div h2{
    text-align: center;

}
.productos_list div div p{
    text-align: center;
}

    

